body{
    background-color: #e8e8e8;
    max-width: 1000px;
    margin: auto;
   
    
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    
}

.menu li {
    display: inline-block;
    margin-left: 10px;
}

.menu li a {
    text-decoration: none;
    color: black;
    display: inline-block;
    background-color:  #FE1300;
    padding: 10px 20px;
    white-space: nowrap;
    border: 2px solid black;
    box-sizing: border-box;
}

.menu li a.specialButton {
    width: 150px; /* Ajusta el ancho según sea necesario */
}

.menu li.marginLeft a {
    margin-left: 10px;
}

.menu li.marginLeftLess a {
    margin-left: 40px;
}

.menu li a:hover {
    background-color: aqua;
    outline: none;
}

.validar {
    list-style: none;
    padding: 0;
    margin: 0;
    
}

.validar li {
    display: inline-block;
    margin-left: 10px;
}

.validar li a {
    text-decoration: none;
    color: black;
    display: inline-block;
    background-color:  #e8e8e8;
    padding: 10px 20px;
    white-space: nowrap;
    border: 2px solid black;
    box-sizing: border-box;
    margin-top: 200px;
}

.validar li a.specialButton {
    width: 150px; /* Ajusta el ancho según sea necesario */
}

.validar li.marginLeft a {
    margin-left: 10px;
}

.validar li.marginLeftLess a {
    margin-left: 40px;
}

.validar li a:hover {
    background-color: green;
    outline: none;
}