
body{
    background-color: #e8e8e8;
    max-width: 1000px;
    margin: auto;
   
    
}

h1{
    text-shadow: 3px 3px 3px grey;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    
}

.menu li {
    display: inline-block;
    margin-left: 10px;
}

.menu li a {
    text-decoration: none;
    color: black;
    display: inline-block;
    background-color: #FE1300;
    padding: 10px 20px;
    white-space: nowrap;
    border: 2px solid black;
    box-sizing: border-box;
}

.menu li a.specialButton {
    width: 150px; /* Ajusta el ancho según sea necesario */
}

.menu li.marginLeft a {
    margin-left: 10px;
}

.menu li.marginLeftLess a {
    margin-left: 40px;
}

.menu li a:hover {
    background-color: aqua;
    outline: none;
}

#encabezado{
    font-size: 60px;
    color:black;
    text-align: left;
    text-shadow: 3px 3px 3px #7f7b7b;
   
}
#encabezado2{
    font-size: 30px;
    color:black;
    text-align: left;


}

.marginLeft{
    margin-left: 80px;
 
}
.marginLeftLess{
    margin-left: 200px;
}

#container{
    display: flex;
    justify-content: right;
}
#logo{
    width: 600px;
    height: 300px;
    border: solid;
    float: right;
    display: flex;

}

.moverHaciaAbajo{
    margin-right: 600px;
}

.marginTop{
    margin-top: 80px;
}